<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

</head>

<body>
    <h1><strong>E - shop</strong></h1>
    <h3><i>You want it, we have it</i></h3>
    <h4>Stuff we sell:</h4>

    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Electronics</h5>
        </div>
      </div>

      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Food</h5>
        </div>
      </div>

      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Clothing</h5>
        </div>
      </div>

      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Stationary</h5>
        </div>
      </div>

      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pet supplies</h5>
        </div>
      </div>

      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Books</h5>
        </div>
      </div>
      

</body>


</html>
