<div class="app">
  <!-- <input type="text" [(ngModel)]="filterText" />
  {{ filterText }}
  {{ filterUsers | json }} -->
  <!-- <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filter: filterText">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.gender | formatGender }}</td>
      </tr>
    </tbody>
  </table> -->

  <!-- <button (click)="onAdd()" class="btn btn-primary">Add User</button> -->

  <app-user-list></app-user-list>
</div>
