<h4>Template Form</h4>
<form (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
  <div class="mb-3">
    <label for="fullName" class="form-label">Full Name</label>
    <input
      type="text"
      class="form-control"
      id="fullName"
      name="fullName"
      required=""
      placeholder="full name..."
      #fullName="ngModel"
      [(ngModel)]="contact.fullName"
    />
    <div
      class="text-danger"
      *ngIf="!fullName?.value && (fullName?.dirty || fullName?.touched)"
    >
      * invalid full name
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="name@example.com"
      #email="ngModel"
      [(ngModel)]="contact.email"
    />
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <textarea
      class="form-control"
      id="message"
      rows="3"
      name="message"
      #message="ngModel"
      [(ngModel)]="contact.message"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
    Submit
  </button>

  <div>
    {{ form.value | json }}
  </div>
</form>
