<div class="header">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <h2 class="text-success">
          <i class="fa fa-cart-arrow-down text-light" aria-hidden="true"></i>
          E-Shop
        </h2>
      </a>

      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarsExampleDefault">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">
                Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/about">
                About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/product-list">
                Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/basket">
                My Basket
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
