<p>product-list works!</p>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Desc</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        {{ product.id }}
      </td>
      <td>
        {{ product.description }}
      </td>
      <td>
        <input type="number" />
      </td>
      <td>
        <button (click)="onAdd(product)" class="btn btn-primary">
          Add to basket
        </button>
      </td>
    </tr>
  </tbody>
</table>
