<div>
  <table class="table">
    <thead>
      <th scope="col">Quantity</th>
      <th scope="col">Item Name</th>
      <th scope="col">Price</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>
          {{item.basketItem.quantity}}
        </td>
        <td>
          <div *ngIf="item.product === undefined">
            loading item...
          </div>
          <div *ngIf="item.product === null">
            error loading item!
          </div>
          <a *ngIf="item.product" [routerLink]="['/product', item.basketItem.productID]">
            {{item.product.name}}
          </a>
        </td>
        <td>
          <div *ngIf="item.product === undefined">
            -
          </div>
          <div *ngIf="item.product === null">
            -
          </div>
          <div *ngIf="item.product">
            {{item.product.price | pence}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
